<!-- Modal -->
{% load static %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div>{% include 'include/_logo.html' %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn-nav nav-link card" href="#">
                            <img src="{% static '/img/no image.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>