<nav class="navbar navbar-light bg-light p-0 ">
    <div id="top-nav-container"  class="container-fluid">
        <ul id="top-nav" class="navbar-nav">
            <li class="nav-item"><a class="a nav-link">г.Москва</a></li>
            <li class="nav-item"><a class="a nav-link">ул.Калинина д.23а</a></li>
            <li class="nav-item"><a class="a nav-link">Пн-Пт 9:00-21:00</a></li>
            <li class="nav-item"><a class="a nav-link">Сб-Вс 9:00-18:00</a></li>
            <li class="nav-item"><a class="a nav-link">+7-495-905-60-30</a></li>
        </ul>
    </div>
</nav>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div id="bottom-nav" class="container-fluid bg-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li id="v2-search" class="nav-item">{% include 'include/_search.html' %}</li>
        <lu id="nav-logo" class="nav-item">{% include 'include/_logo.html' %}</lu>
        <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div id="Nav" class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            </div>
            <div id="offcanvas-body" class="offcanvas-body">
                <ul class="navbar-nav ">
                    <li class="nav-item">{% include 'include/_authentication.html' %}</li>
                    <li id="nav-categories" class="nav-item me-auto">
                        <a id="catalog" class="btn-nav nav-link" data-bs-toggle="modal" href="#exampleModal" role="button"
                            aria-controls="exampleModal">
                            <i class="l bi bi-list"></i>Каталог
                        </a>
                    </li>
                    <li class="nav-item me-auto flex">{% include 'include/_search.html' %}</li>
                    <li class="nav-item"><a class="btn-nav nav-link" href="#">Избранное<i class="r bi bi-bookmarks"></i></a></li>
                    <li class="nav-item"><a class="btn-nav nav-link" href="#">Сравнение<i class="r bi bi-ui-checks"></i></a></li>
                    <li class="nav-item"><a id="cart" class="btn-nav nav-link" href="#">Корзина<i class="r bi bi-cart3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>