<form class="d-flex align-items-center  ">
    <input id="search" class="form-control" type="search" placeholder="Поиск"
        aria-label="Поиск">
    <button id="button-search" class="btn btn-outline-success" type="submit"><i
            class="bi bi-search"></i></button>
</form>